/* GLOBAL STYLES */
body {
	font-family: 'Ubuntu', sans-serif; 
	padding-top: 2em;
}
.dark-blue {
	color: #35478c; 
}
.lightblue {
	color: #add5f7;
}
p {
	font-size: 1.1em;
}
/* START NAVIGATION */
.navbar {
	margin-bottom: 0;
	padding-bottom: 10px;
	background-color: #fff;
	border: none;
}
.navbar .navbar-brand {
	padding-top: 1em;
}
.navbar .mid-blue {
	color: #4e7ac7;
	font-size: 1.4em;
	text-transform: uppercase;
}
.navbar .light-blue {
	color: #add5f7;
	font-size: 1.1em;
	text-transform: uppercase;
	line-height: 140%;
	letter-spacing: .38em;
}
.navbar .navbar-collapse {
	border: none;
}
.navbar .navbar-collapse li a {
	font-size: 1.2em;
	color: #4e7ac7;
	border-bottom: 2px solid #fff;
	text-transform: uppercase;
}
.navbar .navbar-collapse li a:hover {
	font-size: 1.2em;
	color: #35478c;
	border-bottom: 2px solid #35478c;
}
.navbar .navbar-collapse li {
	padding: 1em .4em .6em .4em;
}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus{
	background-color: #fff;
}

/* END NAVIGATION */

/* START MOBILE NAVIGATION */
.navbar-default .navbar-toggle {
	color: #4e7ac7;
	font-weight: 400;
	border: 2px solid #4e7ac7;
	background-color: #fff;
	padding: 10px;
	margin-top: 1em;
}

/* END MOBILE NAVIGATION */

/* INTRO SECTION */
.intro {
	height: 650px;
	padding-top: 9em;
	text-align: center;
	background: -webkit-linear-gradient(#4e7ac7, #7fb2f0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#4e7ac7, #7fb2f0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#4e7ac7, #7fb2f0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#4e7ac7, #7fb2f0); /* Standard syntax */
}
.intro i {
	font-size: 4em;
	color: #fff;
	border: 2px solid #fff;
	padding: .1em .3em 0 .3em;
	border-radius: 5px;
}
.intro i:hover {
	color: #add5f7;
	background-color: #fff;
}
section .hi {
	margin-bottom: -.4em;
}
section .hi, .web-dev {
	text-transform: uppercase;
	color: #add5f7;
	font-size: 2em;
	line-height: 140%;
	letter-spacing: 3px;
}
section .name,
.name-small {
	color: #fff;
	font-size: 6em;
	letter-spacing: 10px;
	font-weight: 700;
}
section .name-small {
	font-size: 3.7em;
}

section .check-skills {
	color: #35478c;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 1.2em;
	padding-left: 160px;
	margin-top: -35px;
}


/* END INTRO SECTION */

/*START SKILLS*/
.skills {
	padding-top: 3em;
}
.skills .heading {
	color: #787878;
	font-size: 2.2em;
	text-align: center;
	margin-top: 2em;
	font-weight: 300;
}
.skills .subheading {
	color: #787878;
	font-size: 1em;
	text-align: center;
	margin-top: .5em;
	letter-spacing: 1px;
}
.skills .html,
.php,
.jquery,
.ruby,
.photoshop {
	color: #fff;
	background-color: #7fb2f0;
	margin-top: 1.2em;
	padding: 1px;
}
.skills .p-html,
.p-photoshop,
.p-jquery,
.p-php,
.p-ruby {
	font-size: 1.5em;
	padding: .4em 0 0 .5em;
}
.skills .html {
	width: 100%;
}
.skills .photoshop {
	width: 90%;
}
.skills .jquery {
	width: 85%;
}
.skills .php {
	width: 75%;
}
.skills .ruby {
	width: 45%;
}
.skills .beginner,
.proficient,
.master {
	display: inline-block;
	vertical-align: top;
	height: 25px;
	border-right: 12px solid #e4e4e4;
	border-bottom: 10px solid #e4e4e4;
	margin-top: 3%;
}
.skills .beginner {
	width: 45%;
	border-left: 12px solid #e4e4e4;
}
.skills .proficient {
	width: 30%;
	margin-left: -3px;
}

.skills .master {
	width: 25%;
	margin-left: -3px;
}
.graph-text {
	margin-top: 10px;
	color: #787878;
	font-family: 'Gloria Hallelujah', cursive;
}
/* START OF ABOUT SECTION */
.about {
	margin-top: 3%;
	padding-bottom: 5%;
	text-align: center;
	background: -webkit-linear-gradient(#4e7ac7, #7fb2f0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#4e7ac7, #7fb2f0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#4e7ac7, #7fb2f0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#4e7ac7, #7fb2f0); /* Standard syntax */
}
.about .paragraph {
	margin-top: 3%;
}
.about h1 {
	padding-top: 2em;
	font-weight: 300;
	color: #fff;
}
.about p {
	color: #fff;
	letter-spacing: 1px;
}
.about .about-content {
	text-align: left;
	margin-top: 3%;
}
.about .about-more {
	text-align: left;
	margin-top: 30px;
}
.about-more h4 {
	letter-spacing: 1px;
	font-weight: 300;
	margin-bottom: 20px;
}
.about .about-more p {
	padding-bottom: 2em;
}
.about .about-more 
.glyphicon-plane,
.glyphicon-heart,
.glyphicon-user {
	color: #fff;
	margin-right: 10px;
}
.about .about-content a {
	color: #35478c;
}
.about img {
	border: 5px solid #fff;
/*	box-shadow: 2px 2px 3px #606060;*/
	margin-bottom: 15px;
	margin-top: 3.5%;
}

/* END OF ABOUT SECTION */

/* START OF PORTFOLIO */
section.portfolio {
	padding-top: 2em;
/*	padding-bottom: 3%;*/
}
.portfolio h1 {
	padding-top: 2em;
}
section.portfolio .port-heading {
	color: #787878;
	font-size: 2.2em;
	text-align: center;
	margin-top: .5em;
	font-weight: 300;
}
section.portfolio .port-subheading {
	color: #787878;
	font-size: 1em;
	text-align: center;
	margin-top: .5em;
	letter-spacing: 1px;
}
section.portfolio img {
	margin-top: 5%;
	margin-bottom: 5%;
	padding-bottom: 2em;
}
/*END OF PORTFOLIO*/

/*START OF CONTACT SECTION*/
.contact {
	margin-bottom: 3%;
}
.contact .contact-heading {
	background: -webkit-linear-gradient(#4e7ac7, #7fb2f0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#4e7ac7, #7fb2f0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#4e7ac7, #7fb2f0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#4e7ac7, #7fb2f0); /* Standard syntax */
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	padding: 3%;
}
.contact .contact-h1 {
	font-weight: 300;
}
.contact .contacting-me {
	margin-top: 3%;
}













































